@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.light_mode {
  background-color: #fff;
  color: #000;
}

.dark_mode {
  background-color: #252323;
  color: #fff;
}

.header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  padding: 0 20px
}

.header div {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 100px;
}

.dark_mode .logo {
  filter: invert(1) brightness(2);
}

.header div button {
  background-color: transparent;
  font-size: 15px;
  padding: 10px 15px;
  border: 1px solid #b2987d;
  border-radius: 25px;
  display: flex;
  align-items: center;

}

.dark_mode .header div button {
  color: #fff;
}

.section_banner {
  display: flex;
  height: 30vh;
}

.banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section_info {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_info div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.section_info div h1 {
  font-size: 40px;
}

.section_info div p:first-of-type {
  font-size: 18px;
  font-weight: 600;
}

.signature {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  color: #b2987d;
}

@media (max-width: 525px) {
  .section_info div h1 {
    font-size: 30px;
  }

  .signature {
    font-size: 40px;
  }
}